<div class="container-fluid">
  <h2>Danh danh sách sổ tiết kiệm</h2>
  <div class="col-12">
    <div class="d-flex col-4 form-inline">
      <input class="form-control mr-3" type = text style="width: 400px;" placeholder="tìm kiếm theo tên khách hàng" [(ngModel)]="term">
      <input style="width: 400px; margin-bottom: 10px" class="form-control mr-sm-2 mt-1" type="text"
             placeholder="Tìm Kiếm Theo mã sổ tiết kiệm" [(ngModel)]="id" (input)="searchByAddress(id)">
    </div>
</div>

<div class="row mt-3 px-3">
  <button class="btn btn-success" [routerLink]="['/employee-add']">Thêm mới</button>
  <table class="table mt-3 table-striped" style="font-size: 12px;">
    <thead>
    <tr>
      <th>Mã số</th>
      <th>Họ và tên</th>
      <th>Gender</th>
      <th>Ngày sinh</th>
      <th>Số cmnd</th>
      <th>Số điện thoại</th>
      <th>Địa chỉ</th>
      <th>Loại nhân viên</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees |filter:term |paginate: { itemsPerPage: 3, currentPage: p } ">
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.gender}}</td>
      <td>{{employee.birthday}}</td>
      <td>{{employee.idCard}}</td>
      <td>{{employee.phone}}</td>
      <td>{{employee.address}}</td>
      <td>{{employee.employeeType.name}}</td>
      <td style="width: 12%;">
        <button class="btn btn-sm btn-warning mr-3" [routerLink]="['/employee-edit/'+ employee.id]">Sửa</button>
        <button class="btn btn-sm btn-danger mr-3" (click)="openDialog(employee.id)">xóa</button>
      </td>
    </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>
