<!--Navbar-->
<nav class="navbar navbar-expand-sm bg-primary navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</nav>
<!---->
<div id="employee" class="container">
  <div class="row">
    <div class="row col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <ul class="col-12">
        <li class="pl-4 pt-2 pb-2 menu-var">
          <a routerLink="/employee/detail"><i class="fas fa-user-friends mr-2 col-1"></i> Thông tin tài khoản</a>
        </li>
        <li class="pl-4 pt-2 pb-2 menu-var">
          <a routerLink="/employee/changepass"><i class="fas fa-female mr-2 col-1"></i> Thay đổi mật khẩu</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <i id="icon-eye" class="far fa-eye-slash"></i>
      <span id="title" class="card-title">Đổi mật khẩu</span>
      <div>
        <hr>
        <form class="form-signin">
          <div class="form-label-group">
            <input type="password" id="inputOldPassword" class="form-control" placeholder="Mật khẩu cũ"
                   required>
            <label for="inputOldPassword"></label>
          </div>
          <div class="form-label-group">
            <input type="password" id="inputNewPassword" class="form-control"
                   placeholder="Mật khẩu mới" required>
            <label for="inputNewPassword"></label>
          </div>
          <div class="form-label-group">
            <input type="password" id="inputConfirmNewPassword" class="form-control"
                   placeholder="Nhập lại mật khẩu mới" required>
            <label for="inputConfirmNewPassword"></label>
          </div>
          <div class="form-label-group">
            <div class="">
              <input type="password" id="codeAuthen" class="form-control"
                     placeholder="Mã xác thực" required>
              <label for="codeAuthen"></label>
            </div>
            <label for="showCodeAuthen"></label><input style="text-align: center; width: 80px" readonly
                                                       type="password" id="showCodeAuthen"
                                                       class="form-control"
                                                       placeholder="1234" required>
          </div>
          <hr>
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Lưu</button>
          <hr class="my-4">
        </form>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <div class="avatar-wrapper">
        <img class="profile-pic" src="../../../../assets/img/nhan/employee.jpg" alt=""/>
        <div class="upload-button">
        </div>
        <input class="file-upload" type="file" accept="image/*"/>
      </div>
    </div>
  </div>
</div>
