<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h3 th:if="${successMsg}" th:text="${successMsg}" style="color: red"></h3>
</head>
<body>
<table class="table" border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone Number</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer,status:${customerList}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.phoneNumber}"></td>
        <td th:text="${customer.age}"></td>
        <td th:text="${customer.email}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>