<h2>Update Student</h2>

<form [formGroup]="formStudent" (ngSubmit)="updateInfoStudent()">
  <p>
    Name:
    <input type="text" formControlName="name" />
  </p>
  <p *ngIf="formStudent.get('name').hasError('required')
    && formStudent.get('name').dirty" style="color: red">Required name!</p>
  <p>
  <p *ngIf="formStudent.get('name').hasError('pattern')
    && formStudent.get('name').dirty" style="color: red">Invalid format name!</p>
  <p>
    Date of birth:
    <input type="date" formControlName="dateOfBirth" />
  </p>
  <p *ngIf="formStudent.get('dateOfBirth').hasError('c09Abc')
    && formStudent.get('dateOfBirth').dirty" style="color: red">Chua du 18 tuoi</p>
  <input type="submit" value="Update" [disabled]="formStudent.invalid">
</form>
