<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>
<h1>Delete?</h1>
<h2>Are you sure?</h2>
<!--<form th:action="@{/delete}" th:object="${customer}" method="post">-->
<!--    <input type="hidden" th:field="*{id}"/>-->
<!--    <div>-->
<!--        <label>Name:</label>-->
<!--        <input disabled="disabled" type="text" th:field="*{name}"/>-->
<!--    </div>-->
<!--    <input type="submit" value="delete">-->
<!--</form>-->
<input type="hidden" th:field="${question.id}">
<div>
    Tiêu đề: <p th:text="${question.title}"></p>
    Id: <p th:text="${question.id}"></p>
    Do you sure to delete?
</div>
<button id="clickDelete" type="button" class="btn btn-danger"
        th:onclick="'javascript:actionDelete(\''+ ${question.id} + '\');'">Delete</button>
</body>
</html>