<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <th:block th:replace="~{view/layout::bootstrap}"></th:block>
</head>
<body>


<div class="header">
    <h1 class="text-center">Khach hang List</h1>
</div>
<div class="content">
    <div class="container">
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="footer"></div>
</body>
</html>